<div id="container">
  <div id="register_box">
    <h2 style="margin-bottom: 30px; text-align: center">Đăng ký</h2>
    <form (ngSubmit)="register()">
      <label for="">Tên đăng nhập</label>
      <input
        class="username"
        name="username"
        type="text"
        [(ngModel)]="username"
      />
      <br />
      <label for="">Email</label>
      <input class="email" name="email" type="text" [(ngModel)]="email" />
      <br />
      <label for="">Mật khẩu</label>
      <input
        class="password"
        name="password"
        type="password"
        [(ngModel)]="password"
      />
      <br />
      <button class="btn_submit" type="submit">Đăng ký</button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
</div>
